Walkthrough of code from this tutorial: https://data36.com/pandas-tutorial-2-aggregation-and-grouping/ on data aggregation

In [1]:
import numpy as np
import pandas as pd

In [3]:
#make reusable variable 'zoo' for storage of dataframe from the zoo.csv file
zoo = pd.read_csv('zoo.csv', delimiter = ',')

In [8]:
#count function
zoo.count()

animal        22
uniq_id       22
water_need    22
dtype: int64

In [9]:
#count applied to a single column
zoo.animal.count() #same as zoo[['animal']].count()

22

In [12]:
#sum function
print(zoo.sum())
#can also be applied to individual rows
print(zoo.water_need.sum())

animal        elephantelephantelephanttigertigertigertigerti...
uniq_id                                                   22253
water_need                                                 7650
dtype: object
7650

In [14]:
#can also find min, max, mean, and median for numeric columns
print(zoo.water_need.max())
print(zoo.water_need.min())
print(zoo.water_need.mean())
print(zoo.water_need.median())

600
80
347.72727272727275
325.0

In [18]:
#Using the groupby function - can be used to group based on a column name and perform aggregate functions on that columns data
zoo.groupby('animal').mean()

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [26]:
#using gruopby and count on article_read dataset
article_read =  pd.read_csv('pandas_tutorial_read.csv', delimiter=';', names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])
article_read.groupby('source').count()

         my_datetime  event  country  user_id  topic
source
AdWords          500    500      500      500    500
Reddit           949    949      949      949    949
SEO              346    346      346      346    346

In [27]:
#can also group by multiple columns to find all unique pairings
article_read.groupby(['source', 'topic']).sum()

                             user_id
source  topic
AdWords Africa           54079349101
        Asia            358890217411
        Australia        66370106914
        Europe          459674456968
        North America   142572829544
        South America   147489132251
Reddit  Africa          216317382708
        Asia           1197120096534
        Australia       176986955637
        Europe          253189680287
        North America   226149993006
        South America   263022281484
SEO     Africa           36872278837
        Asia             83577174347
        Australia        54079345831
        Europe           78660869789
        North America   432634772295
        South America   164696200666